---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";

const allPosts = await getCollection("posts");
---

<Layout title="Blog">
  <Main>
    <H1 text={`James' Blog`} />
    <p class="text-zinc-900 text-2xl mb-24">A blog for James</p>
    <PostList posts={allPosts} />
  </Main>
</Layout>
